:root {
    --primary: rgb(86, 209, 211);
    --secondary: rgb(16, 82, 204);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  

img {
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 1.8rem;
    font-family: 'New Tegomin', serif;
}

h2 {
    font-size: 1.5rem;
    font-family: 'New Tegomin', serif;
}

header {
    height: 40%;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.banner > h2 {
    color: var(--secondary);
}

.banner {
    padding: 1em;
}

nav {
    color: white;
    margin-top: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--primary);
    opacity: 90%;
}

nav a {
    display: inline-block;
    flex: 1;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color:white;
}

nav a:hover {
    color:rgb(47, 68, 255)
}


main section {
    margin: 0 1em;
}

.no-dreams {
    text-align: center;
    margin-top: 3em;
}

footer {
    /* position: sticky; */
    bottom: 0;
    background-color: var(--primary);
    width: 100%;
    color: white;
    padding: 0.75em;
}

footer div {
    /* margin:  0.5em; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer p {
    text-align: right;

}

main {
    width: 1400px;
    max-width: 90%;
    margin: 1.5em auto;
}

.dreams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
}

.dream {
    border: 2px solid var(--secondary);
    position: relative;
}

.dream-title {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 0.5em 0.45em;
}

.dream h3 {
    
    top: 10px;
    left: 10px;
    color: white;
    display: inline;   
}

.dream-navigation {
    display: flex;
    gap: 10px;
}

.btn {
    text-align: center;
    background-color: var(--primary);
    padding: 0.5em;
    font-weight: bold;
    color: white;
    width: 100%;
}

.btn:hover {
    background-color: var(--secondary);
}



@media screen and (min-width: 810px) {
    body {
        font-size: 1.15rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    header {
        background-position-y: 70%;
        height: 60%;
    }
    
}

@media screen and (min-width: 1200px) {
    .banner {
        margin-left: 50px;
    }
}
